<div class="section top-margin">
    <h2>Our Story</h2>
    <div class="side-by-side reverse">
        <div>
            <p><span class="buisname">A Zappa Dappa Dat</span> was born out of a passion for music by life-long musicians. With music recorded by Paul Hamilton in his own <a href="https://epicrecordingstudios.com">Epic Recording Studios</a> and published under the private <a href="https://bigwhitehousepublishing.com">Big White House Publishing</a> label, the <span class="buisname">A Zappa Dappa Dat</span> team oversees all elements of their music's conception, production, and distribution.</p>
            <p>But that's all business, and a business is no better than the people who make it up. Good thing, because we at <span class="buisname">A Zappa Dappa Dat</span> are pretty awesome people, if we do say so ourselves. Come on &mdash; get to know us! There is a brief bio on each of us below.</p>
        </div>
        <div class="img-wrapper gradient-border ">
            <div>
                <img src="images/paul-concert-5.jpg" alt="">
                <p class='caption'>Paul Hamilton in concert</p>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="team-block">
        <h2>Our Team</h2>
        <div class="gradient-border ">
            <div class="team-member">
                <div>
                    <div class="h-img">
                        <img src="images/paul-guitars.jpg" alt="Paul Hamilton">
                    </div>

                    <h3 class="name centered">Paul F. Hamilton</h3>
                    
                    <p><span class="buisname">A Zappa Dappa Dat's</span> primary musician and songwriter, producer and engineer, audio consultant and technician, based at his studio in Illinois. Paul has been playing music since he was 9 years old, and has extensive experience with stage and studio sound production. He has opened for Johnny Cash, The Beach Boys, Linda Ronstadt, The Oak Ridge Boys, B.J. Thomas, Tanya Tucker, Brenda Lee, The Smothers Brothers, Mel Tillis, Ricky Skaggs, Roger Miller, Emmy Lou Harris, Ronnie Milsap, Marty Robbins, and many others.</p>
                    <a class='top-margin-sm' href="paul">More about Paul</a>
                </div>
            </div>
        </div>
    </div>
    <div class="team-block">
        <div class="gradient-border ">
            <div class="team-member img-text-flex">
                <img src="images/joyce.jpg" alt="Joyce Hamilton-Whitson">
                <div>
                    <h3 class="name">Joyce Hamilton-Whitson</h3>
                    <p>Joyce manages <span class="buisname">A Zappa Dappa Dat's</span> office in Oklahoma and keeps business running smoothly &mdash; but Joyce is also an accomplished musician (a singer and pianist with two published albums), an author (with three novels and counting), <em>and</em> a businesswoman (co-founder of Pinion Records and owner of Hamilton Whitson Studios). Joyce has been involved in the business of music for over ten years, and brings all of her experience and enthusiasm to <span class="buisname">A Zappa Dappa Dat!</span></p>
                    <p>Check out Joyce's albums, <a target="_blank" href="https://www.amazon.com/I-Found-Faith-Joyce-Hamilton-Whitson/dp/B005O4N97I"><em>I Found Faith</em></a> and <a target='_blank' href="https://www.amazon.com/Project-Beautifully-Broken-Joyce-Whitson/dp/B00BTADGO2/ref=sr_1_fkmr0_1?dchild=1&keywords=joyce+hamilton+whitson+india&qid=1591642370&sr=8-1-fkmr0"><em>Project: India 'Beautifully Broken'</em></a>, and her novels, including <a target="_blank" href="https://www.amazon.com/House-Mirrors-J-H-Whitson/dp/1640792384"><em>House of Mirrors</em></a>!</p>
                    <a class='top-margin-sm' href="joyce">More about Joyce</a>
                </div>
            </div>
        </div>
    </div>
    <div class="team-block">
        <div class="gradient-border ">
            <div class="team-member">
                
                <div>
                    <div class='h-img'>
                        <img src="images/william4.jpg" alt="William Kuhn">
                    </div>
                    
                    <h3 class="name centered">William C. Kuhn</h3>
                    
                    <p>Will is our third dedicated musician. His outstanding playing can heard on several of our tracks. His list of performances include the Italian documentary on civil rights, <em>John F Kennedy and the Civil Rights Era</em>, as well as recording his own original music album, <a target="_blank" href="https://www.amazon.com/Spoon-River-Cowboy-Adventures-Darkness/dp/B016MMRJZ8"><em>The Spoon River Cowboy's Adventures in Fantasy and Darkness</em></a>. Will is also the author of <a target="_blank" href="https://www.amazon.com/Spoon-Cowboys-Playing-Harmonica-Guitar-ebook/dp/B01B3K9952"><em>The Spoon River Cowboy's Guide to Playing Harmonica and Guitar</em></a>.</p>
                    <p>Will's music runs deep. He's traveled the blues Highway and the Mississippi delta studying the Blues. He often spends his vacations "busking" (that's playing on the streets for the local people's enjoyment) around the world in places like England and New Zealand. And if that's not enough, he brings with him his talents and wisdom as a business consultant, economist, and civil engineer to our table. We are so fortunate to have him on our team!</p>
                    <a href="william" class="top-margin-sm">More about William</a>
                </div>
            </div>
        </div>
    </div>
</div>

<style lang='scss'>
    .team-block + .team-block {
        margin-top: 2em;
    }

    .section .team-block p:first-of-type {
        margin-top: 0;
    }

    .team-block a.top-margin-sm {
        text-align: center;
    }

    .team-member {
        background: black;
        padding: 2em;
        width: 100%;
    }

    .team-member img {
        margin-right: 2em;
        max-height: 50vh;
        max-width: none;
        width: 15em;
        object-fit: cover;
    }

    .team-block .gradient-border{ 
        max-width: 50em;
        margin: 0 auto;
    }

    .h-img img {
        width: 90%;
        max-width: 30em;
        margin: 1.5em auto;
        display: block;
    }

    .name.centered {
        text-align: center;
    }
</style>