<div class='loading'>
    LOADING...
</div>

<div class="spacerdiv"></div>
<div class="fullscreen" id='home'>
    <img src="images/drums.jpg" alt="" class="bg">
    <div class="social">
        <a target="_blank" href="https://www.facebook.com/A-Zappa-Dappa-Dat-101085974869084/" title='Facebook'><img src="images/sm-icons/facebook.svg" alt="Facebook link"></a>
        <a target="_blank" href="https://www.youtube.com/channel/UCIcWmli0W13i8RF2dqLavQQ" title='YouTube'><img src="images/sm-icons/youtube.svg" alt="YouTube link"></a>
        <a target="_blank" href="https://twitter.com/DappaDat" title='Twitter'><img src="images/sm-icons/twitter.svg" alt="Twitter link"></a>
        <a target="_blank" href="https://www.instagram.com/azappadappadat" title='Instagram'><img src="images/sm-icons/instagram.svg" alt="Instagram link"></a>
        <a target="_blank" href="https://www.linkedin.com/in/paul-hamilton-1b987a1a8" title='LinkedIn'><img src="images/sm-icons/linkedin.svg" alt="LinkedIn link"></a>
    </div>

    {{!-- Intro animation --}}
    <div class="intro invisible">
        <div>
            <p class="style-text">Because</p>
            <div class="switcher">
                <p class="em-text">Advertising</p>
                <p class="em-text invisible">A Film</p>
                <p class="em-text invisible">Radio</p>
                <p class="em-text invisible">Business</p>
                <p class="em-text invisible">Social Media</p>
                <p class="em-text invisible">A Commercial</p>
                <p class="em-text invisible">An Event</p>
                <p class="em-text invisible">A Video Game</p>
                <p class="em-text invisible">Advertising</p>
                <p class="em-text invisible">A Film</p>
                <p class="em-text invisible">Radio</p>
                <p class="em-text invisible">Business</p>
                <p class="em-text invisible">Social Media</p>
                <p class="em-text invisible">A Commercial</p>
                <p class="em-text invisible">An Event</p>
                <p class="em-text invisible">A Video Game</p>
                <p class="em-text invisible">Everything</p>
                <p class="em-text invisible">Advertising</p>
                <p class="em-text invisible">A Film</p>
                <p class="em-text invisible">Radio</p>
                <p class="em-text invisible">Business</p>
                <p class="em-text invisible">Social Media</p>
                <p class="em-text invisible">A Commercial</p>
                <p class="em-text invisible">An Event</p>
                <p class="em-text invisible">A Video Game</p>
                <p class="em-text invisible">Everything</p>
            </div>
            <p class="style-text">Needs Music</p>
        </div>

        <div class='skip-intro'>Skip intro ></div>
    </div>

    {{!-- Header banner --}}
    <div class="angle"></div>
    <div class="angle blue"></div>

    <div class="header pieces fade">
        <img src="images/azappa.png" alt="A Zappa Dappa Dat logo" class="logo">
    </div>
    <div class="description pieces fade">
        {{!-- <h1><span class="keep-together">Full-Service Music Production</span> <span class="keep-together">For Whatever Your Need</span></h2> --}}
        <p class='constrain'><span class='emph'>Everything needs music.</span> If your project is movies or television, radio or advertising, gaming or podcasts &mdash; whatever you’re working, on let A Zappa Dappa Dat help the dream that is your project sound amazing.</p>
    </div>

    {{!-- Buttons --}}
    <div class='buttons fade'>
        <button onclick="scrollDown()">
            <div class="inner">Let’s get started!</div>
        </button>
    </div>
</div>

{{!-- Border --}}
<div id='mainpage-content' class="borderdiv"></div>

{{!-- Main page content --}}
<div class='mainpage-content'>
    <div class="section howitworks trigger-group">
        <h2 class='trigger-child disappearY down'>How it Works</h2>

        <p class="trigger-child disappearY down">Hello! We’re “A Zappa Dappa Dat!” The company with a funny name... until you find the rhythm. Once we found the rhythm, we could see the dream. And If you can see the dream you can make it happen.</p>
        <p class='trigger-child disappearY down'>
            What’s your rhythm? We want to know, so we can see your dream. We can help YOU make it happen!
        </p>

        <div class="howitworks-items">
            <div class="section trigger-child disappearY down">
                <div class="gradient-border">
                    <div class="inner first">
                        <img src="images/headphones.svg" alt="">
                        <div>
                            <h3>Huge libraries of music</h3>
                            <p>We have over 120 full music tracks available to choose from, and we're adding more new music for you every day!</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section trigger-child disappearY down">
                <div class="gradient-border">
                    <div class="inner second">
                        <img src="images/waveform.svg" alt="">
                        <div>
                            <h3>Music custom-made for your project</h3>
                            <p>Have something specific in mind? We can do custom work, too! Let us know exactly what you need &mdash; we can make it happen!</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section trigger-child disappearY down">
                <div class="gradient-border">
                    <div class="inner third">
                        <img src="images/playbutton.svg" alt="">
                        <div>
                            <h3>Music in stems, so you can customize</h3>
                            <p>All of our music comes with individual stems that you can enable or disable per your needs.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <p class='trigger-child disappearY down'>Life is so much easier when you work with people who care. It’s all available for YOUR dream. "Because Everything Needs Music." Come on. We’ll show you.... <a href='listen'>Listen to some sample tracks</a> for a taste of what we offer.</p>
    </div>

    <div class="section-wrapper custom">
        <div class="section custom trigger-group">
            <h2 class='trigger-child disappearY down'>Music Custom-Fit for Your Project</h2>
            <div class="side-by-side">
                <div class="gradient-border trigger-child disappearX left">
                    <div>
                        <img src="images/paul-concert-2.jpg" alt="Paul Hamilton in concert">
                        <p class="caption">Paul Hamilton in concert</p>
                    </div>
                </div>
                <div class="trigger-child disappearX right">
                    <p>A Zappa Dappa Dat is all about enhancement through music. Our goal is to magnify the your message and the experience of your project. We offer top-of-the-line service. Because when you have spent all the hours on your dream project, it’s great to work with people who care. Our desire is for everyone to not only see it but feel it in their soul. Too much? Maybe...maybe not...If you’re passionate about your dreams.</p>
                </div>
            </div>
            <div class="side-by-side">
                <div class="trigger-child disappearX left">
                    <p>Our music is recorded, produced, mastered, and delivered on time and with passion. We record all our tracks at our own Epic Recording Studios and are published through Big White House Publishing, our one-stop publishing company. From inception to the proud moment when we hear our tracks used on your project, you can be certain that A Zappa Dappa Dat has made only the music that we both are passionate about. We’ll work hard to make sure you have exactly what you need for your project.</p>
                </div>
                <div class="gradient-border trigger-child disappearX right">
                    <div>
                        <img src="images/studio4.jpg" alt="Our state-of-the-art studio">
                        <p class="caption">Our state-of-the-art studio</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section experience trigger-group">
        <h2 class='trigger-child disappearY down'>A Lifetime of Musical Expertise</h2>
        <div class="side-by-side">
            <div class="gradient-border trigger-child disappearX left">
                <div>
                    <img src="images/cash.jpg" alt="Paul Hamilton with Johnny Cash">
                    <p class="caption">Paul Hamilton with Johnny Cash</p>
                </div>
            </div>
            <div class="trigger-child disappearX right">
                <p>Paul, Joyce, and William have a lifetime of musical experience each. They are performers and producers; they know the artistry of making and performing music as well as the business of it.</p>
                <p>Learn more about <a href='about'><span class='buisname'>A Zappa Dappa Dat</span> and the Dappa Dat team.</a> Or, if you're ready to talk about your project and how <span class='buisname'>A Zappa Dappa Dat</span> can help out, <a href='contact'>get in touch!</a></p>
            </div>
        </div>
    </div>
    
</div>

<style>
    .skip-intro {
        position: absolute;
        bottom: 3em;
        right: 3em;
        cursor: pointer;
        border: 1px solid transparent;
        padding: .5em .75em;
    }

    .skip-intro:hover {
        border: 1px solid white;
    }

    .howitworks-items .gradient-border{ 
        max-width: 50em;
        margin: 0 auto;
    }

    .howitworks-items .section + .section{
        margin-top: 2em;
    }

    .howitworks-items .inner {
        display: flex;
        position: relative;
        margin: 0 auto;
        overflow: hidden;
        max-width: auto;
        width: 100%;

        min-height: 10em;
        align-items: center;

        background-position: 95% center;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .howitworks-items .inner p {
        margin-top: 0;
    }

    .howitworks-items .first {
        background-image: url('images/headphones.svg');
    }

    .howitworks-items .second {
        background-image: url('images/waveform.svg');
    }

    .howitworks-items .third {
        background-image: url('images/playbutton.svg');
    }

    .howitworks-items h3 {
        margin-top: 0;
    }

    .howitworks-items .inner img {
        display: none;
        position: absolute;
        right: 1em;
        top: 0;
        width: auto;
        height: 100%;
    }

</style>

<script>
    let body = document.querySelector('body')
    let loading = document.querySelector('.loading')

    loading.style.display = 'flex'
    document.querySelector('.em-text').classList.add('hidden')

    //Play initial animation - start by making other elements invisible
    let selector
    if(window.location.hash !== '#skipintro') 
        selector = '.angle, .pieces, .buttons'
    else
        selector = '.pieces, .buttons'

    let mainscreen = document.querySelectorAll(selector)
    for(let i=0; i<mainscreen.length; i++) {
        mainscreen[i].classList.add('invisible')
        mainscreen[i].classList.add('disappeared')
    }

    //Skipping intro
    document.querySelector('.skip-intro').addEventListener('click', ()=> {
        document.querySelector('.intro').classList.add('invisible')
        showMainScreen()
    })

    //Reshow main screen
    function showMainScreen() {
        for(let i=0; i<mainscreen.length; i++) {
            mainscreen[i].classList.remove('invisible')
            setTimeout(function(){
                mainscreen[i].classList.remove('disappeared')
            }, 100)
        }
    }

    /*
    function preloadAudio() {
        //Set up audio
        let snare = []
        snare[0] = document.createElement('audio')
        snare[0].src = 'sounds/snare.wav'
        snare[0].setAttribute('preload', 'auto')
        snare[0].setAttribute('controls', 'none')
        snare[0].style.display = 'none'

        snare[1] = document.createElement('audio')
        snare[1].src = 'sounds/snare.wav'
        snare[1].setAttribute('preload', 'auto')
        snare[1].setAttribute('controls', 'none')
        snare[1].style.display = 'none'

        document.body.appendChild(snare[0])
        document.body.appendChild(snare[1])

        let fill = document.createElement('audio')
        fill.src = 'sounds/fill.wav'
        fill.setAttribute('preload', 'auto')
        fill.setAttribute('controls', 'none')
        fill.style.display = 'none'
        document.body.appendChild(fill)

        body.onload = function() {
            document.querySelector('.intro').classList.remove('invisible')
            loading.style.display = 'none'
            startPage(snare, fill)
        }
    }
    */

    //Show intro text and hide most of the flavor words
    function startPage(snare = null, fill = null) {
        if(window.location.hash != '#skipintro' && window.innerWidth > 800) {
            let emText = document.querySelectorAll('.switcher .em-text')
            window.location.hash = "#skipintro"

            for(let i=0; i<emText.length; i++) {
                //Start animating after a half second
                setTimeout(function(){
                    emText[0].classList.remove('hidden')
                }, 1000)
                
                let curEmtext = emText[i]
                let index = i

                if(i < 7) curEmtext.style.animationDuration = '.4s'
                else if(i < 11) curEmtext.style.animationDuration = '.3s'
                else if(i < 15) curEmtext.style.animationDuration = '.2s'
                else if(i < 20) curEmtext.style.animationDuration = '.1s'
                else curEmtext.style.animationDuration = '.08s'

                curEmtext.addEventListener('animationend', function(){
                    if(index !== emText.length - 1) {
                        if(getComputedStyle(curEmtext).animationName == 'wordsIn') {
                            
                            //snare[index % 2].play()
                            
                            setTimeout(function() {
                                curEmtext.style.position = 'absolute'
                                curEmtext.style.animationName = 'wordsOut'
                                if(i+1 < emText.length)
                                    emText[i+1].classList.remove('invisible')
                            }, i < 4 ? 100 : 0)
                        }
                        else {
                            emText[i].classList.add('invisible')
                        }
                    }
                    else {
                        if(curEmtext.style.animationName != "scaleUp") {
                            //snare[index % 2].play()
                            //fill.play()
                            curEmtext.style.animationDuration = 2 + 's'
                            curEmtext.style.animationName = "scaleUp"

                            setTimeout(function() {
                                document.querySelector('.intro').classList.add('fadeout')
                                setTimeout(function(){
                                    showMainScreen()
                                    document.querySelector('.intro').classList.add('invisible')
                                }, 500)
                            }, 2500)
                        }
                    }
                })
            }
        }
        else {
            document.querySelector('.intro').classList.add('invisible')
            showMainScreen()
        }
    }

    function scrollDown() {
        window.location.hash = '#mainpage-content'
        setTimeout(function() {
            window.location.hash = "#skipintro"
        }, 1500)
    }

    window.addEventListener('scroll', function() {
        let bgimg = document.querySelector('.bg')
        bgimg.style.transform = "translateY(" + window.scrollY/2 + "px)"
    })

    //Preload everything, then start the intro animation (or not)
    body.onload = function() {
        document.querySelector('.intro').classList.remove('invisible')
        loading.style.display = 'none'
        startPage()
    }
</script>