<div class="section top-margin about-narrowed">
    <h2>Joyce Hamilton-Whitson</h2>
    <div>
        <div class="img-wrapper gradient-border float-right">
            <img src="images/joyce.jpg" alt="">
        </div>

        <p>Joyce Hamilton-Whitson (BMI) manages the <span class="buisname">Zappa Dat</span> office from her home in Oklahoma. Joyce entered the music business as a singer with one CD to her name: <em>I Found Faith</em> (Merf Music Group Publishing). Over the years, Joyce and her brother Ray Hamilton developed Pinion Records. Joyce has been in the clerical field as an executive administrative assistant and came to work for <a target='_blank' href="http://merfmusicgroup.com/">Merf Music Group</a> from 2009 until 2013, working for both the Tulsa and Nashville offices.</p>
        <p>Her most recent projects include <a target="_blank" href="https://www.amazon.com/I-Found-Faith-Joyce-Hamilton-Whitson/dp/B005O4N97I">the re-release of her CD, <em>I Found Faith</em></a>, followed in 2013 with <a target='_blank' href="https://www.amazon.com/Project-Beautifully-Broken-Joyce-Whitson/dp/B00BTADGO2/ref=sr_1_fkmr0_1?dchild=1&keywords=joyce+hamilton+whitson+india&qid=1591642370&sr=8-1-fkmr0">Project: India, 'Beautifully Broken'</a>. Joyce also plays piano and has her own recording studio in Tulsa, Oklahoma (HWS – Hamilton Whitson Studios) Joyce has been in the industry for over ten years, and has been working alongside the members of Merf Music Group as their executive office manager since 2009.</p>
        <p>Joyce's is thrilled to be involved with <span class="buisname">Zappa Dat</span>, working to advance the incredible music being created for film and television by <a target="_blank" href="https://epicrecordingstudios.com">Epic Recording Studios</a>, and <a target="_blank" href="https://bigwhitehousepublishing.com">Big White House Publishing</a>.</p>
        <p>Along with being a singer, Joyce is also an author and has written three books: <em>The Day It All Came Full Circle</em>, <a target="_blank" href="https://www.amazon.com/House-Mirrors-J-H-Whitson/dp/1640792384"><em>House of Mirrors</em></a>, and <a target="_blank" href="https://www.amazon.com/Little-Cowboy-J-H-Whitson/dp/164140308X"><em>The Little Cowboy</em></a>, with 3 more on the way.</p>
        <p>Interested in the work Joyce does? She's very active on social media! Follow her on <a target="_blank" href="www.twitter.com/jhamilton09">Twitter</a> and <a target="_blank" href="www.facebook.com/joycehamilton-whitson">Facebook!</a></p>
    </div>
    <br clear='all'>
</div>

<h3 class='centered'>Joyce's Work</h3>
<div class="gallery">
    <div class="gradient-border">
        <a target="_blank" href="https://www.amazon.com/I-Found-Faith-Joyce-Hamilton-Whitson/dp/B005O4N97I">
            <div>
                <img src="images/ifoundfaith.jpg" alt="Album: I Found Faith, by Joyce Hamilton-Whitson">
                <p class="caption">Album: <em>I Found Faith</em>, by Joyce Hamilton-Whitson</p>
            </div>
        </a>
    </div>
    <div class="gradient-border">
        <a target="_blank" href="https://www.amazon.com/Project-Beautifully-Broken-Joyce-Whitson/dp/B00BTADGO2/ref=sr_1_fkmr0_1?dchild=1&keywords=joyce+hamilton+whitson+india&qid=1591642370&sr=8-1-fkmr0">
            <div>
                <img src="images/india.jpg" alt="Album: Project: India, 'Beautifully Broken', by Joyce Hamilton-Whitson">
                <p class="caption">Album: <em>Project: India, 'Beautifully Broken'</em>, by Joyce Hamilton-Whitson</p>
            </div>
        </a>
    </div>
    <div class="gradient-border">
        <a target="_blank" href="https://www.amazon.com/House-Mirrors-J-H-Whitson/dp/1640792384">
            <div>
                <img src="images/mirrors.jpg" alt="Book: House of Mirrors, by Joyce Hamilton-Whitson">
                <p class="caption">Book: <em>House of Mirrors</em>, by Joyce Hamilton-Whitson</p>
            </div>
        </a>
    </div>
    <div class="gradient-border">
        <a target="_blank" href="https://www.amazon.com/Little-Cowboy-J-H-Whitson/dp/164140308X">
            <div>
                <img src="images/cowboy.jpg" alt="Book:The Little Cowboy, by Ray Nelson Hamilton and Joyce Hamilton-Whitson">
                <p class="caption">Book: <em>The Little Cowboy</em>, by Ray Nelson Hamilton and Joyce Hamilton-Whitson</p>
            </div>
        </a>
    </div>
</div>