<div class="section top-margin">
    <h2 class=''>Hear What We Do</h2>
    {{!-- <p class=''><span class='buisname'>A Zappa Dappa Dat</span> is ... Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus sunt tempore corporis, illo qui repellat adipisci doloribus quidem, perspiciatis quia, recusandae quibusdam voluptates fuga atque soluta quis blanditiis quae similique!</p> --}}
</div>

<div class="listen-items">
    <div class="section">
        <div class="gradient-border">
            <div class="side-by-side inner">
                <a target="_blank" href='http://email.disco-mailer.net/e/c/eyJlbWFpbF9pZCI6IlJObVpBZ0VBQVhNd0FDNlhvVnpvWGpHVUxnd3lHQT09IiwiaHJlZiI6Imh0dHBzOi8vYS16YXBwYS1kYXBwYS1kYXQuZGlzY28uYWMvc2hhcmUtbmV3LzIwOTAzOTI1L3VzZXIvMzM0MTQyP3NpZ25hdHVyZT0xeFZSZVphNnlRZ01hcGZrVmJCS2JrdjF3Y2slM0FzZllsOVJlTiIsImxpbmtfaWQiOjgzMTk0OTYsInBvc2l0aW9uIjoyfQ/58fe44123d7835ce1d03f42d8266c31ef931cae8657b5f85eb3ca82f9e92c4c7'><img src="images/disco-logo.svg" alt=""></a>
                <div>
                    <h3>Listen to Our Samples on Disco</h3>
                    <p>Want a taste of the work we do? Check out <a target="_blank" href='http://email.disco-mailer.net/e/c/eyJlbWFpbF9pZCI6IlJObVpBZ0VBQVhNd0FDNlhvVnpvWGpHVUxnd3lHQT09IiwiaHJlZiI6Imh0dHBzOi8vYS16YXBwYS1kYXBwYS1kYXQuZGlzY28uYWMvc2hhcmUtbmV3LzIwOTAzOTI1L3VzZXIvMzM0MTQyP3NpZ25hdHVyZT0xeFZSZVphNnlRZ01hcGZrVmJCS2JrdjF3Y2slM0FzZllsOVJlTiIsImxpbmtfaWQiOjgzMTk0OTYsInBvc2l0aW9uIjoyfQ/58fe44123d7835ce1d03f42d8266c31ef931cae8657b5f85eb3ca82f9e92c4c7'>our Disco sample playlist.</a> We rotate out the tracks regularly, so keep checking back if you like what you hear!</p>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="gradient-border">
            <div class="side-by-side inner">
                <div>
                    <h3><span class='buisname'>Zappa Dat</span> Enters Spitfire, HBO Contest</h3>
                    <p>We've entered Spitfire and HBO's <a target="_blank" href='https://www.spitfireaudio.com/westworld/'>scoring competition!</a> Participants were asked to score a sequence from Westworld Season 3. Take a look at what we came up with <a target="_blank" href="https://www.youtube.com/watch?v=L5gX85C0fEo&feature=youtu.be">on our YouTube Channel!</a></p>
                </div>
                <a target="_blank" href="https://www.youtube.com/watch?v=L5gX85C0fEo&feature=youtu.be"><img src="images/ww.jpg" alt=""></a>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="gradient-border">
            <div class="side-by-side inner">
                <a target='_blank' href="https://music.amazon.com/albums/B086PJDC7T"><img class='smaller-img' src="images/american-music.jpg" alt="American Music album cover"></a>
                <div>
                    <h3>American Music I &amp; II Now Available</h3>
                    <p><span class='buisname'>Zappa Dat's</span> resident composer and musician Paul Hamilton has been hard at work on his American Music albums, now available for purchase! Check them out on <a target="_blank" href="https://music.amazon.com/albums/B086PJDC7T">Amazon Music.</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .section + .section{
        margin-top: 4em;
    }

    .side-by-side img {
        display: block;
        margin: 0 auto;
        min-width: 15em;
        max-width: 100%;
    }

    .listen-items .gradient-border{ 
        max-width: 50em;
        margin: 0 auto;
    }
</style>