<div class="section top-margin">
    <h2>Paul F. Hamilton</h2>
    <div class="profile-pic gradient-border">
        <img src="images/paul-guitars.jpg" alt="">
    </div>
    <div>
        <p>Paul is <span class="buisname">A Zappa Dappa Dat's</span> primary musician and songwriter, producer and engineer, audio consultant and technician. With a lifetime of experience in music &mdash; from performing to mixing to producing &mdash; it's no wonder he calls <span class="buisname">Zappa Dat</span> his calling, the endeavor he was always meant take on; it is the culmination of all of his years of accumulated knowledge, experience, and skill.</p>
        <p>Paul has been playing music since the age of 9. He has performed throughout North America and Europe on lead and back-up vocals, electric and acoustic guitar, bass guitar, drums, keyboard, percussion, and various stringed instruments. He has opeend for Johnny Cash, the Beach Boys, Linda Ronstadt, The Oak Ridge Boys, B.J. Thomas, Tanya Tucker, Brenda Lee, The Smothers Brothers, Mel Tillis, Ricky Staggs, Roger Miller, Emmy Lou Harris, Ronnie Milsap, Marty Robins, and many others. He has performed with Hank Thompson, Charlie Pride, Martha Reeves, Ronnie Dunn, Randy VanWarmer, the Tulsa Philharmonic, Leon McCuliff, and others.</p>
        <p>His ear for music and experience as a performer has also made him a valuable asset off-stage as well. He has mixed and operated sound and lighting for tour performances for Linda Ronstadt, Jerry Garcia, Average White Band, Gabor Zabo, Big Joe Turner &amp; George Harmonica Smith, and many others.</p>
        <p>If you want anyone in charge of what your project sounds like, it's Paul Hamilton.</p>
    </div>
    <br clear='all'>
</div>

<h3 class='centered'>Paul's Photo History</h3>
<div class="gallery">
    <div class="gradient-border">
        <div>
            <img src="images/playing7.jpg" alt="Paul (front) in an early band">
            <p class="caption">Paul (front) in an early band</p>
        </div>
    </div>
    <div class="gradient-border">
        <div>
            <img src="images/bass.jpg" alt="Paul, age 9, on bass">
            <p class="caption">Paul, age 9, on bass</p>
        </div>
    </div>
    <div class="gradient-border">
        <div>
            <img src="images/playing6.jpg" alt="Paul, age 17">
            <p class="caption">Paul, age 17</p>
        </div>
    </div>
    <div class="gradient-border">
        <div>
            <img src="images/playing2.jpg" alt="Paul at International Music Festival 1978, age 25">
            <p class="caption">Paul at International Music Festival 1978, age 25</p>
        </div>
    </div>
    <div class="gradient-border">
        <div>
            <img src="images/playing5.jpg" alt="Paul with the Mickey Crocker Band">
            <p class="caption">Paul with the Mickey Crocker Band</p>
        </div>
    </div>
    <div class="gradient-border">
        <div>
            <img src="images/playing3.jpg" alt="Paul w/ the legendary Oklahoma Thunder Band">
            <p class="caption">Paul w/ the legendary Oklahoma Thunder Band</p>
        </div>
    </div>
    <div class="gradient-border">
        <div>
            <img src="images/playing4.jpg" alt="Paul in the Oklahoma Thunder Band">
            <p class="caption">Paul in the Oklahoma Thunder Band</p>
        </div>
    </div>
    <div class="gradient-border">
        <div>
            <img src="images/playing.jpg" alt="Paul with Ronnie Dunn Band in Washington, D.C.">
            <p class="caption">Paul with Ronnie Dunn Band in Washington, D.C.</p>
        </div>
    </div>
    <div class="gradient-border">
        <div>
            <img src="images/family.jpg" alt="Paul and his brothers with The Roger Miller Band">
            <p class="caption">Paul and his brothers with The Roger Miller Band</p>
        </div>
    </div>
    <div class="gradient-border">
        <div>
            <img src="images/paulbros.jpg" alt="Paul and his brothers">
            <p class="caption">Paul and his brothers</p>
        </div>
    </div>
    <div class="gradient-border">
        <div>
            <img src="images/cash.jpg" alt="Paul with Johnny Cash as his opening act">
            <p class="caption">Paul with Johnny Cash as his opening act</p>
        </div>
    </div>
</div>

<style>
    .gradient-border {
        max-width: auto;
        width: auto;
    }

    .profile-pic {
        margin: 1em auto;
    }

    .section p:first-of-type {
        margin-top: 1em;
    }
</style>