<div class="section top-margin">
    <h2>William C. Kuhn</h2>
    <div class="gradient-border profile-pic">
        <img src="images/william4.jpg" alt="William Kuhn">
    </div>
    <div>
        <p>William (Willie) Kuhn is a non-professional musician who has "worked very hard to be a bit better than mediocre." A retired civil engineer, business consultant and economist Will now lives near New River Arizona. Will is a 'true believer' in the talented folks of <span class="buisname">A Zappa Dappa Dat</span> and is committed to their success, "Because Everything Needs Music!"</p>
        <p>Will's movie career includes 1) acting in the detective movie <em>From the Heart</em> 2) acting and performing music in the Italian documentary <em>Return to Spoon River</em> and 3) acting and performing music in the Italian documentary on civil rights <em>John F Kennedy &amp; the Civil Rights Era</em> for JFK's 100th Birthday.</p>
        <p>Will also recorded the original musical album <a target="_blank" href="https://www.amazon.com/Spoon-River-Cowboy-Adventures-Darkness/dp/B016MMRJZ8"><em>The Spoon River Cowboy's Adventures in Fantasy and Darkness,</em></a> and has performed with many artists throughout the world. His happiest place is pretending to be a poor street musician, allowing his "really good harmonica playing" to accentuate his mediocre guitar and vocals. Will is the author of <a target="_blank" href="https://www.amazon.com/Spoon-Cowboys-Playing-Harmonica-Guitar-ebook/dp/B01B3K9952"><em>The Spoon River Cowboy's Guide to Playing Harmonica and Guitar</em></a> through which beginner harp players can learn to play in 4 modes in one month!</p>
    </div>
    <br clear='all'>
</div>

<h3 class='centered'>William's Photos</h3>
<div class="gallery">
    <div class="gradient-border">
        <div>
            <img src="images/williamc.jpg" alt="Willie celebrates James Meredith's 80th birthday during on an Italian movie set">
            <p class="caption">Willie celebrates James Meredith's 80th birthday during on an Italian movie set</p>
        </div>
    </div>
    <div class="gradient-border">
        <div>
            <img src="images/williamc2.jpg" alt="Willie at Jimi Hendrix memorial">
            <p class="caption">Willie at Jimi Hendrix memorial</p>
        </div>
    </div>
    <div class="gradient-border">
        <div>
            <img src="images/williamc3.jpg" alt="Barn to be Free">
            <p class="caption">Barn to be Free</p>
        </div>
    </div>
    <div class="gradient-border">
        <div>
            <img src="images/williamc4.jpg" alt="Busking in England">
            <p class="caption">Busking in England</p>
        </div>
    </div>
    <div class="gradient-border">
        <div>
            <img src="images/williamc5.jpg" alt="Busking in New Zealand">
            <p class="caption">Busking in New Zealand</p>
        </div>
    </div>
    <div class="gradient-border">
        <div>
            <img src="images/williamc6.jpg" alt="Performing in Copenhagen">
            <p class="caption">Performing in Copenhagen</p>
        </div>
    </div>
    <div class="gradient-border">
        <div>
            <img src="images/william1.jpg" alt="Photo of William">
        </div>
    </div>
    <div class="gradient-border">
        <div>
            <img src="images/william2.jpg" alt="Photo of William">
        </div>
    </div>
    <div class="gradient-border">
        <div>
            <img src="images/william3.jpg" alt="Photo of William">
        </div>
    </div>
    <div class="gradient-border">
        <div>
            <img src="images/william4.jpg" alt="Photo of William">
        </div>
    </div>
    <div class="gradient-border">
        <div>
            <img src="images/william5.png" alt="Photo of William">
        </div>
    </div>
    <div class="gradient-border">
        <div>
            <img src="images/william6.jpg" alt="Photo of William">
        </div>
    </div>
    <div class="gradient-border">
        <div>
            <img src="images/william7.jpg" alt="Photo of William">
        </div>
    </div>
    
</div>

<style>
    .gradient-border {
        max-width: auto;
        width: auto;
    }

    .profile-pic {
        margin: 1em auto;
    }

    .section p:first-of-type {
        margin-top: 1em;
    }
</style>